.landingPage
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    .section
        width: 50%
        background-position: center
        background-size: 110% 110%
        height: 100vh
        filter: blur(5px)
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        &:hover
            cursor: pointer
            filter: blur(0px)
            transition: all 0.5s ease-in-out
            background-size: 100% 100%
    .leftSection
        button
            width: 50%
            height: 100px
            background-color: rgb(182,86,238, 0.5)
            border-radius: 15px
            border: none
            font-size: 30px
            color: #fff
            cursor: pointer
    .rightSection
        button
            width: 50%
            height: 100px
            background-color: rgb(43,163,209, 0.5)
            border-radius: 15px
            border: none
            font-size: 30px
            color: #fff
            cursor: pointer